@charset "UTF-8";
/* !Variables*/ /* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*! 123normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*! Container*/
.container {
  margin: 0 auto;
  width: 1160px;
}

@media (max-width: 1000px) {
  .container {
    width: 940px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}
/* !Buttons*/
.orange-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 27px;
  background-color: #fa8341;
  height: 54px;
  width: 298px;
}
.orange-button:hover {
  background-color: #FA6F32;
}
.orange-button:active {
  background-color: #184b14;
}
.orange-button a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.orange-button-cub {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fa8341;
  height: 54px;
  width: 298px;
}
.orange-button-cub:hover {
  background-color: #FA6F32;
}
.orange-button-cub:active {
  background-color: #184b14;
}
.orange-button-cub a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

/*! Header*/
header {
  background-color: #000000;
  height: 80px;
}
header a {
  cursor: pointer;
}

/* скрываем чекбокс */
#menu__toggle {
  display: none;
}

.logo {
  line-height: 23px;
  text-align: center;
  margin: 0px 0px;
  width: 80px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/header/icons/bamboo.svg);
  background-repeat: no-repeat;
  background-position: 10px 22px;
}

.logo > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

.header_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.nav-list a:hover {
  color: #fa8341;
}
.nav-list .orange {
  color: #fa8341;
}
.nav-list .nav-link {
  margin-left: 58px;
}
.nav-list .nav-link-mod {
  margin-left: 438px;
}

@media (max-width: 1000px) {
  .nav-list .nav-link-mod {
    margin-left: 210px;
  }
}
@media (max-width: 640px) {
  header {
    height: 34px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 500;
  }
  #menu__toggle {
    display: none;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 5px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 60;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  /* контейнер меню */
  .nav-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .nav-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .nav-item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .nav-list {
    visibility: visible;
    left: 0;
  }
  .logo {
    line-height: 14px;
    width: 47px;
    height: 29px;
    border: 0px solid #ffffff;
    background-image: url(../../assets/images/header/icons/bamboo-min.svg);
    background-position: 4px 11px;
  }
  .logo > a {
    font-size: 12px;
    font-weight: 400;
  }
  .header_box {
    height: 34px;
  }
}
/*! Watch your favorite animal online*/
/*! The Backstage*/
.section__watch-online {
  height: 700px;
  background-color: #283035;
  background-image: url("../../assets/images/backstage/Giant_Panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.watch-online-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.watch-online-ellipse {
  width: 465px;
  height: 465px;
  background-color: #fa8341;
  border-radius: 50%;
  margin: 12px 107px 0px 0px;
}
.watch-online-ellipse .watch-online-text {
  color: #ffffff;
  font-size: 106px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  margin: 74px -181px 0px 0px;
}
.watch-online-ellipse .watch-online-text span {
  color: #FFEE2E;
}

.watch-online-buttons {
  margin: 69px 98px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media (max-width: 1000px) {
  .section__watch-online {
    height: 504px;
  }
  .watch-online-ellipse {
    width: 367px;
    height: 367px;
    margin: 0px 85px 0px 0px;
  }
  .watch-online-ellipse .watch-online-text {
    font-size: 85px;
    line-height: 63px;
    margin: 74px -181px 0px 0px;
  }
}
@media (max-width: 640px) {
  .section__watch-online {
    height: 340px;
  }
  .watch-online-ellipse {
    width: 238px;
    height: 238px;
    margin: 5px 107px 0px 0px;
  }
  .watch-online-ellipse .watch-online-text {
    font-size: 54px;
    line-height: 40px;
    margin: 41px -101px 0px 0px;
  }
  .watch-online-buttons {
    align-self: flex-start;
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .section__watch-online {
    height: 187px;
  }
  .watch-online-ellipse {
    width: 119px;
    height: 119px;
    margin: 0px 28px 0px 0px;
  }
  .watch-online-ellipse .watch-online-text {
    font-size: 28px;
    line-height: 21px;
    margin: 15px -46px 0px 0px;
  }
  .watch-online-buttons {
    align-self: center;
    margin: 10px 0px 0px 0px;
  }
}
/*! backstage */
.section__backstage {
  background-image: url("../../assets/images/backstage/flower_foto1.jpg");
  background-repeat: no-repeat;
  background-position: 103.1% 13px;
}

.backstage-box {
  display: grid;
  grid-template-columns: auto auto;
  padding: 141px 0px 120px 0px;
}

.backstage-left {
  height: 403px;
  width: 609px;
  background-color: #283035;
  background-image: url("../../assets/images/backstage/bamboo-cap.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.backstage-right {
  margin-left: 87px;
}
.backstage-right .backstage-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}
.backstage-right .backstage-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 20px;
}
.backstage-right .backstage-little-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  margin-top: 55px;
}
.backstage-right .backstage-little-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin-top: 33px;
}

@media (max-width: 1000px) {
  .section__backstage {
    background-image: none;
  }
  .backstage-box {
    padding: 130px 0px 120px 0px;
  }
  .backstage-left {
    height: 408px;
    width: 455px;
    background-size: cover;
  }
  .backstage-right {
    margin-top: 1px;
    margin-left: 32px;
  }
  .backstage-right .backstage-title {
    font-size: 48px;
    -webkit-margin-before: -12px;
            margin-block-start: -12px;
  }
  .backstage-right .backstage-text {
    font-size: 16px;
    line-height: 21px;
  }
  .backstage-right .backstage-little-title {
    font-size: 24px;
    line-height: 29px;
  }
  .backstage-right .backstage-little-text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 640px) {
  .backstage-box {
    display: grid;
    grid-template-columns: auto;
    padding: 120px 0px 120px 0px;
  }
  .backstage-left {
    display: none;
  }
}
@media (max-width: 320px) {
  .backstage-box {
    padding: 80px 0px 120px 0px;
  }
}
/*! Pets*/
.section__pets {
  background-image: url("../../assets/images/slaider/left.jpg"), url("../../assets/images/slaider/right.jpg");
  background-repeat: no-repeat;
  background-position: -3% bottom, 104% bottom;
  background-size: auto auto, auto auto;
}

.pets-box {
  display: flex;
  flex-direction: column;
  padding: 57px 0px 0px 0px;
}
.pets-box .pets-buttons {
  margin: 76px auto 99px auto;
}

.pets-slider-catrs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.pets-slider-catrs .button-left, .pets-slider-catrs .button-right {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background-color: #fa8341;
  position: absolute;
  transition: 1s;
}
.pets-slider-catrs .button-left:hover, .pets-slider-catrs .button-right:hover {
  background-color: #FA6F32;
  transform: scale(1.1);
}
.pets-slider-catrs .button-left:active, .pets-slider-catrs .button-right:active {
  background-color: #184b14;
  transform: scale(1.1);
}
.pets-slider-catrs .button-left {
  left: -81px;
}
.pets-slider-catrs .button-right {
  right: -81px;
}
.pets-slider-catrs .pets-slider {
  display: grid;
  grid-template-columns: auto auto auto;
  -moz-column-gap: 27px;
       column-gap: 27px;
  row-gap: 16px;
}
.pets-slider-catrs .pets-slider .cart {
  border: 2px solid #fa8341;
  border-radius: 5px;
  height: 366px;
  width: 366px;
  transition: 1s;
}
.pets-slider-catrs .pets-slider .cart:hover {
  height: 426px;
}
.pets-slider-catrs .pets-slider .cart:hover .pat-description {
  transform: scale(1.05);
  opacity: 1;
}
.pets-slider-catrs .pets-slider .cart .pat-description {
  display: flex;
  justify-content: space-between;
  padding: 7px 12px 0px 14px;
  opacity: 0;
  transition: all 2s ease;
}
.pets-slider-catrs .pets-slider .cart h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.pets-slider-catrs .pets-slider .cart p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
}

@media (max-width: 1000px) {
  .section__pets {
    background-size: 140px auto, 220px auto;
  }
  .pets-slider-catrs .button-left {
    left: 330px;
  }
  .pets-slider-catrs .button-right {
    right: 330px;
  }
  .pets-slider-catrs .pets-slider {
    row-gap: 100px;
  }
  .pets-slider-catrs .pets-slider .cart {
    height: 354px;
    width: 294px;
    transition: none;
  }
  .pets-slider-catrs .pets-slider .cart:hover {
    height: 354px;
  }
  .pets-slider-catrs .pets-slider .cart:hover .pat-description {
    opacity: 1;
  }
  .pets-slider-catrs .pets-slider .cart .pet-img > img {
    height: 294px;
    width: 294px;
  }
  .pets-slider-catrs .pets-slider .cart .pat-description {
    opacity: 1;
    transition: none;
  }
}
@media (max-width: 640px) {
  .section__pets {
    background-size: 125px auto, 190px auto;
  }
  .pets-slider-catrs .button-left {
    left: 210px;
  }
  .pets-slider-catrs .button-right {
    right: 210px;
  }
  .pets-slider-catrs .pets-slider {
    grid-template-columns: auto auto;
  }
  .pets-slider-catrs .pets-slider .cart {
    height: 332px;
    width: 285px;
    transition: none;
  }
  .pets-slider-catrs .pets-slider .cart:hover {
    height: 354px;
  }
  .pets-slider-catrs .pets-slider .cart:hover .pat-description {
    opacity: 1;
  }
  .pets-slider-catrs .pets-slider .cart .pet-img > img {
    height: 285px;
    width: 285px;
  }
  .pets-slider-catrs .pets-slider .cart .pat-description {
    opacity: 1;
    transition: none;
  }
  .pets-slider-catrs .pets-slider .cart:nth-last-child(-n+2) {
    display: none;
  }
}
@media (max-width: 320px) {
  .section__pets {
    background-size: 72px auto, 120px auto;
  }
  .pets-slider-catrs .button-left {
    display: none;
  }
  .pets-slider-catrs .button-right {
    display: none;
  }
  .pets-slider-catrs .pets-slider {
    grid-template-columns: auto;
  }
}
/*! Pick and feed a friend*/
.section__pick-and-feed {
  background-color: #fdcfab;
  padding-top: 70px;
  padding-bottom: 100px;
}

.pick-and-feed-box {
  background-color: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  margin: 0px 0px 0px 0px;
  padding-bottom: 59px;
}
.pick-and-feed-box .pick-and-feed-text-container {
  margin: 0px 96px 0px 97px;
}
.pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-title {
  color: #fa8341;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  padding: 40px 0px 0px 0px;
}
.pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-big-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 31px 0px 0px 0px;
}
.pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-bolt-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 39px 0px 0px 0px;
}
.pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-little-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 0px 0px 0px;
}
.pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-little-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  padding: 40px 0px 0px 0px;
}
.pick-and-feed-box .pick-and-feed-turn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 38px 0px 0px 0px;
}
.pick-and-feed-box .pick-and-feed-turn .turn-arrow {
  width: 71px;
  height: 37px;
  margin: 62px 29px 0px 30px;
  padding: 0px 0px 0px 0px;
  background-image: url("../../assets/images/pay/icons/Vector.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 69px 35px;
}
.pick-and-feed-box .pick-and-feed-turn .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border: 1px solid #fa8341;
  border-radius: 5px;
}
.pick-and-feed-box .pick-and-feed-turn .pay {
  background-image: url("../../assets/images/pay/icons/pay.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.pick-and-feed-box .pick-and-feed-turn .monkey {
  background-image: url("../../assets/images/pay/icons/monkey.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.pick-and-feed-box .pick-and-feed-turn .zoo {
  background-image: url("../../assets/images/pay/icons/zoo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.pick-and-feed-box .pick-and-feed-turn p {
  width: 168px;
  margin: 30px 0px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.pick-and-feed-box .pick-and-feed-buttons {
  margin: 61px auto 0px auto;
}

@media (max-width: 640px) {
  .section__pick-and-feed {
    background-color: #fdcfab;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .pick-and-feed-box {
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 59px;
  }
  .pick-and-feed-box .pick-and-feed-text-container {
    margin: 0px 18px 0px 18px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-title {
    font-size: 42px;
    line-height: 50px;
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-big-text {
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    padding: 31px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-bolt-text {
    padding: 39px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-little-text {
    padding: 10px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-little-title {
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-turn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 44px;
         column-gap: 44px;
    margin: 37px 0px 0px 0px;
    position: relative;
  }
  .pick-and-feed-box .pick-and-feed-turn .turn-arrow {
    width: 89px;
    height: 29px;
    background-image: url("../../assets/images/pay/icons/arrow.svg");
    background-size: 89px 29px;
    position: absolute;
  }
  .pick-and-feed-box .pick-and-feed-turn .arrow-left {
    margin: -16px 0px 0px -225px;
  }
  .pick-and-feed-box .pick-and-feed-turn .arrow-right {
    margin: -15px -167px 0px 38px;
  }
  .pick-and-feed-box .pick-and-feed-turn .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background-color: #ffffff;
    border: 1px solid #fa8341;
    border-radius: 5px;
  }
  .pick-and-feed-box .pick-and-feed-turn .pay {
    background-image: url("../../assets/images/pay/icons/pay.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pick-and-feed-box .pick-and-feed-turn .monkey {
    background-image: url("../../assets/images/pay/icons/monkey.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pick-and-feed-box .pick-and-feed-turn .zoo {
    background-image: url("../../assets/images/pay/icons/zoo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-turn p {
    width: 168px;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .pick-and-feed-box .pick-and-feed-buttons {
    margin: 61px auto 0px auto;
  }
}
@media (max-width: 320px) {
  .section__pick-and-feed {
    background-color: #fdcfab;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .pick-and-feed-box {
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 59px;
  }
  .pick-and-feed-box .pick-and-feed-text-container {
    margin: 0px 18px 0px 18px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-title {
    font-size: 42px;
    line-height: 50px;
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-big-text {
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    padding: 31px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-bolt-text {
    padding: 39px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-little-text {
    padding: 10px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-text-container .pick-and-feed-little-title {
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-turn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 44px;
         column-gap: 44px;
    margin: 38px 0px 0px 0px;
    position: relative;
  }
  .pick-and-feed-box .pick-and-feed-turn .turn {
    align-self: center;
  }
  .pick-and-feed-box .pick-and-feed-turn .turn-arrow {
    width: 89px;
    height: 29px;
    background-image: url("../../assets/images/pay/icons/arrow.svg");
    background-size: 89px 29px;
    position: absolute;
    transform: rotate(90deg);
    align-self: flex-end;
  }
  .pick-and-feed-box .pick-and-feed-turn .arrow-left {
    margin: -311px 17px 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-turn .arrow-right {
    margin: 0px 16px 0px 0px;
    top: 414px;
  }
  .pick-and-feed-box .pick-and-feed-turn .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background-color: #ffffff;
    border: 1px solid #fa8341;
    border-radius: 5px;
  }
  .pick-and-feed-box .pick-and-feed-turn .pay {
    background-image: url("../../assets/images/pay/icons/pay.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pick-and-feed-box .pick-and-feed-turn .monkey {
    background-image: url("../../assets/images/pay/icons/monkey.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .pick-and-feed-box .pick-and-feed-turn .zoo {
    background-image: url("../../assets/images/pay/icons/zoo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 0px;
  }
  .pick-and-feed-box .pick-and-feed-turn p {
    width: 168px;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .pick-and-feed-box .pick-and-feed-buttons {
    margin: 61px auto 0px auto;
  }
}
/*! Testimonials*/
.section__testimonials {
  background-color: #ffffff;
  background-image: url("../../assets/images/leav_foto.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto auto;
}

.testimonials-box .testimonials-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin: 141px 0px 0px 0px;
}
.testimonials-box .testimonials-reviews {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin: 47px 0px 0px 0px;
}
.testimonials-box .testimonials-reviews .review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 388px;
  width: 267px;
  border: 2px solid #fa8341;
  border-radius: 20px;
}
.testimonials-box .testimonials-reviews .review .review-box {
  width: 234px;
  height: 359px;
}
.testimonials-box .testimonials-reviews .review .review-header {
  display: flex;
  margin: 0px 0px 0px 0px;
}
.testimonials-box .testimonials-reviews .review .avatar {
  margin: 0px 9px 9px 2px;
}
.testimonials-box .testimonials-line-scrol {
  display: flex;
  width: 600px;
  margin: 0 auto;
}
.testimonials-box .testimonials-line-scrol input[type=range] {
  height: 12px;
  -webkit-appearance: none;
  margin: 16px 0px 30px 0px;
  width: 100%;
}
.testimonials-box .testimonials-line-scrol input[type=range]:focus {
  outline: none;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F5F7F6;
  border-radius: 25px;
  border: 1px solid #FE9013;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 100px;
  border-radius: 5px;
  background: #F73325;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}
.testimonials-box .testimonials-line-scrol input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F5F7F6;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F5F7F6;
  border-radius: 25px;
  border: 1px solid #FE9013;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #F73325;
  cursor: pointer;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-ms-fill-lower {
  background: #F5F7F6;
  border: 1px solid #FE9013;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-ms-fill-upper {
  background: #F5F7F6;
  border: 1px solid #FE9013;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
.testimonials-box .testimonials-line-scrol input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #F73325;
  cursor: pointer;
}
.testimonials-box .testimonials-line-scrol input[type=range]:focus::-ms-fill-lower {
  background: #F5F7F6;
}
.testimonials-box .testimonials-line-scrol input[type=range]:focus::-ms-fill-upper {
  background: #F5F7F6;
}
.testimonials-box .pick-and-feed-buttons {
  margin: 0px 0px 180px 0px;
}

@media (max-width: 1000px) {
  .testimonials-box .testimonials-reviews .review:nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 640px) {
  .testimonials-box .testimonials-reviews {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
    margin: 47px 0px 0px 0px;
  }
  .testimonials-box .testimonials-reviews .review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109px;
    width: 100%;
    border: 2px solid #fa8341;
    border-radius: 20px;
  }
  .testimonials-box .testimonials-reviews .review .review-box {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  .testimonials-box .testimonials-reviews .review .review-header {
    display: flex;
    margin: 0px 0px 0px 0px;
  }
  .testimonials-box .testimonials-reviews .review .avatar {
    margin: 0px 9px 9px 2px;
  }
}
/*! Footer*/
footer {
  background-color: #000000;
  color: #ffffff;
}
footer .footer-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 39px 0px 0px 0px;
}
footer .footer-box .left-box, footer .footer-box .right-box {
  display: flex;
  flex-direction: column;
}
footer .footer-box .right-bottom-box {
  display: flex;
  justify-content: space-between;
}

.left-box {
  width: 25%;
}
.left-box .footer-buttons {
  margin: 70px 0px 43px 0px;
}
.left-box .footer-social-list .footer-soc {
  margin-bottom: 11px;
}
.left-box .footer-social-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.left-box .footer-social-list a:hover {
  color: #FA6F32;
}
.left-box .footer-social-list a::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-right: 10px;
}
.left-box .footer-social-list .footer-facebook-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/fb.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.left-box .footer-social-list .footer-twitter-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.left-box .footer-social-list .footer-instagram-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/instagram.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.left-box .footer-social-list .footer-youtube-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/youTube.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.right-box {
  width: 75%;
  height: 100%;
}
.right-box .right-top-box {
  width: 370px;
  align-self: flex-end;
}
.right-box .right-top-box > h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 13px;
}
.right-box .right-top-box > .email {
  border: 1px solid #fa8341;
  border-radius: 2px;
  background-color: #000000;
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 208px;
  height: 42px;
  padding: 0px 10px;
  margin-right: 6px;
}
.right-box .right-top-box > .submit {
  border: 2px solid green;
  border-radius: 5px;
  background-color: #f1f3f2;
  color: green;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 129px;
  height: 42px;
}
.right-box .footer-author {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: 0em;
}
.right-box .right-bottom-box {
  margin: 244px 0px 0px 0px;
}

/*! Panda*/
.section__panda {
  height: 386px;
  background-color: #283035;
  background-image: url("../../assets/images/backstage/Giant_Panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

/*! section__feed-a-friend*/
.section__feed-a-friend {
  background-color: #fcc8a9;
}
.section__feed-a-friend .feed-a-friend-donaton-box {
  background-color: #fee4d6;
}

.feed-a-friend-container {
  background-color: #fee4d6;
  border-radius: 20px;
}

.feed-a-friend-box {
  padding-bottom: 180px;
}
.feed-a-friend-box .feed-a-friend-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #ffffff;
  padding-top: 40px;
}
.feed-a-friend-box .feed-a-friend-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  padding-top: 10px;
}
.feed-a-friend-box .feed-a-friend-little-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #fa8341;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 59px;
}

.feed-a-friend-donaton-box {
  color: #000;
  width: 976px;
  margin: 0 auto;
}
.feed-a-friend-donaton-box .feed-a-friend-donaton-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: #fa8341;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 19px;
}
.feed-a-friend-donaton-box .feed-a-friend-donaton-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 79px;
}
.feed-a-friend-donaton-box .diet-for-day {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-bottom: 40px;
}
.feed-a-friend-donaton-box .diet-days-number {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
}
.feed-a-friend-donaton-box .diet-days-text {
  font-size: 16px;
  font-weight: 400;
}
.feed-a-friend-donaton-box .diet-multiplication {
  font-size: 30px;
}
.feed-a-friend-donaton-box .diet-animal {
  height: 246px;
  width: 284px;
  background-image: url(../../assets/images/panda/panda_widget1.svg);
  background-repeat: no-repeat;
}

.progres-bar__donate {
  background-image: url("../../assets/images/panda/line_bg_grey.svg");
  background-repeat: no-repeat;
  background-position: 65% 20%;
  background-size: 912px 27px;
}
.progres-bar__donate .donate__line {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-image: url("../../assets/images/panda/line_grey.svg");
  background-repeat: no-repeat;
  background-position: 49% 35%;
  background-size: 831px 2px;
}

.radio-price {
  display: flex;
  /* для элемента input c type="radio" */
  /* для элемента label связанного с .custom-radio */
  /* создание в label псевдоэлемента  before со следующими стилями */
  /* стили для радиокнопки, находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в фокусе */
}
.radio-price .progres-bar__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-price .progres-bar__input + label {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 80px;
}
.radio-price .progres-bar__input + label::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FFEE2E;
  background: url("../../assets/images/panda/circle.svg") no-repeat center;
}
.radio-price .progres-bar__input:checked + label::before {
  width: 40px;
  height: 40px;
  background: url("../../assets/images/panda/circle.svg") no-repeat center, url("../../assets/images/panda/roller_icon.svg") no-repeat center;
  color: #fa8341;
}
.radio-price .progres-bar__input:checked + label {
  color: #fa8341;
}
.radio-price .progres-bar__input:focus + label::before {
  color: #fa8341;
}
.radio-price .input-number {
  font-size: 26px;
  font-weight: 500;
  margin-top: 11px;
}

.donate-number-box {
  display: flex;
  justify-content: center;
}
.donate-number-box .donate-number {
  height: 54px;
  width: 258px;
  border: 1px solid #FFEE2E;
  border-radius: 2px;
  padding-left: 10px;
  background-color: #333b41;
  color: #ffffff;
  background-image: url("../../assets/images/panda/dolor.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  margin-top: 60px;
  margin-bottom: 26px;
}
.donate-number-box .donate-number:focus {
  border: 1px solid green;
  background-color: #fff;
  background-image: url("../../assets/images/panda/dolor-active.svg");
  color: green;
}
.donate-number-box .donate-number:invalid {
  border: 1px solid red;
  background-image: url("../../assets/images/panda/dolor-invalid.svg");
  color: red;
}

.monthly-once {
  display: flex;
  justify-content: center;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
.monthly-once .radio-box .radio-bottom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.monthly-once .radio-box .radio-bottom + label {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.monthly-once .radio-box .radio-bottom + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #fa8341;
  border-radius: 50%;
}
.monthly-once .radio-box .radio-bottom:checked + label::before {
  width: 16px;
  height: 16px;
  background-color: green;
  border: 0px solid #fa8341;
}
.monthly-once .radio-box .radio-bottom + label {
  color: #ffffff;
}
.monthly-once .radio-box .radio-bottom:checked + label {
  color: #333B41;
}

.panda-buttons {
  margin: 31px auto 33px auto;
}

.panda-text-bottom {
  margin: 0px auto 0px auto;
  text-align: center;
  padding-bottom: 66px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}/*# sourceMappingURL=style.css.map */