@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url(reset.css);
body {
  font-family: "Roboto", sans-serif;
}

/*! Container*/
.container {
  margin: 0 auto;
  width: 1160px;
}

@media (max-width: 1000px) {
  .container {
    width: 940px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 320px) {
  .container {
    width: 300px;
  }
}
/* !Buttons*/
.orange-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 27px;
  background-color: #fa8341;
  height: 54px;
  width: 298px;
}
.orange-button:hover {
  background-color: #FA6F32;
}
.orange-button:active {
  background-color: #184b14;
}
.orange-button a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.orange-button-cub {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fa8341;
  height: 54px;
  width: 298px;
}
.orange-button-cub:hover {
  background-color: #FA6F32;
}
.orange-button-cub:active {
  background-color: #184b14;
}
.orange-button-cub a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

/*! Header*/
header {
  background-color: #000000;
  height: 80px;
}
header a {
  cursor: pointer;
}

/* скрываем чекбокс */
#menu__toggle {
  display: none;
}

.logo {
  line-height: 23px;
  text-align: center;
  margin: 0px 0px;
  width: 80px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/header/icons/bamboo.svg);
  background-repeat: no-repeat;
  background-position: 10px 22px;
}

.logo > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 400;
}

.header__box {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}
.nav__link:hover {
  color: #fa8341;
}
.orange {
  color: #fa8341;
}
.nav__link {
  margin-left: 0px;
  padding: 25px 29px;
}
.nav__link-mod {
  margin-left: 438px;
}

@media (max-width: 1000px) {
  .nav__list .nav__link-mod {
    margin-left: 210px;
  }
}
@media (max-width: 640px) {
  header {
    height: 34px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 500;
  }
  #menu__toggle {
    display: none;
  }
  /* стилизуем кнопку */
  .burger-btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 5px;
    right: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 60;
  }
  /* добавляем "гамбургер" */
  .burger-btn > span,
.burger-btn > span::before,
.burger-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .burger-btn > span::before {
    content: "";
    top: -8px;
  }
  .burger-btn > span::after {
    content: "";
    top: 8px;
  }
  /* контейнер меню */
  .nav__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .nav__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .nav__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .burger-btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .burger-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .burger-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .nav__list {
    visibility: visible;
    left: 0;
  }
  .logo {
    line-height: 14px;
    width: 47px;
    height: 29px;
    border: 0px solid #ffffff;
    background-image: url(../../assets/images/header/icons/bamboo-min.svg);
    background-position: 4px 11px;
  }
  .logo > a {
    font-size: 12px;
    font-weight: 400;
  }
  .header__box {
    height: 34px;
  }
}
/*! Watch your favorite animal online*/
/*! The Backstage*/
.watch-online {
  height: 700px;
  background-color: #283035;
  background-image: url("../../assets/images/backstage/Giant_Panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.watch-online__box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.watch-online__ellipse {
  width: 465px;
  height: 465px;
  background-color: #fa8341;
  border-radius: 50%;
  margin: 12px 107px 0px 0px;
}
.watch-online__text {
  color: #ffffff;
  font-size: 106px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  margin: 74px -181px 0px 0px;
}
.watch-online__text span {
  color: #FFEE2E;
}

.watch-online__buttons {
  margin: 69px 98px 0px 0px;
  padding: 0px 0px 0px 0px;
}

@media (max-width: 1000px) {
  .watch-online {
    height: 504px;
  }
  .watch-online__ellipse {
    width: 367px;
    height: 367px;
    margin: 0px 85px 0px 0px;
  }
  .watch-online__text {
    font-size: 85px;
    line-height: 63px;
    margin: 74px -181px 0px 0px;
  }
}
@media (max-width: 640px) {
  .watch-online {
    height: 340px;
  }
  .watch-online__ellipse {
    width: 238px;
    height: 238px;
    margin: 5px 107px 0px 0px;
  }
  .watch-online__text {
    font-size: 54px;
    line-height: 40px;
    margin: 41px -101px 0px 0px;
  }
  .watch-online__buttons {
    align-self: flex-start;
    margin: 20px 0px 0px 0px;
  }
}
@media (max-width: 320px) {
  .watch-online {
    height: 187px;
  }
  .watch-online__ellipse {
    width: 119px;
    height: 119px;
    margin: 0px 28px 0px 0px;
  }
  .watch-online__text {
    font-size: 28px;
    line-height: 21px;
    margin: 15px -46px 0px 0px;
  }
  .watch-online__buttons {
    align-self: center;
    margin: 10px 0px 0px 0px;
  }
}
/*! backstage */
.backstage {
  background-image: url("../../assets/images/backstage/flower_foto1.jpg");
  background-repeat: no-repeat;
  background-position: 103.1% 13px;
}

.backstage__box {
  display: grid;
  grid-template-columns: auto auto;
  padding: 141px 0px 120px 0px;
}

.backstage__left {
  height: 403px;
  width: 609px;
  background-color: #283035;
  background-image: url("../../assets/images/backstage/bamboo-cap.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.backstage__right {
  margin-left: 87px;
}
.backstage__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}
.backstage__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 20px;
}
.backstage__little-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  margin-top: 55px;
}
.backstage__little-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin-top: 33px;
}

@media (max-width: 1000px) {
  .backstage {
    background-image: none;
  }
  .backstage__box {
    padding: 130px 0px 120px 0px;
  }
  .backstage__left {
    height: 408px;
    width: 455px;
    background-size: cover;
  }
  .backstage__right {
    margin-top: 1px;
    margin-left: 32px;
  }
  .backstage__title {
    font-size: 48px;
    -webkit-margin-before: -12px;
            margin-block-start: -12px;
  }
  .backstage__text {
    font-size: 16px;
    line-height: 21px;
  }
  .backstage__little-title {
    font-size: 24px;
    line-height: 29px;
  }
  .backstage__little-text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 640px) {
  .backstage__box {
    display: grid;
    grid-template-columns: auto;
    padding: 120px 0px 120px 0px;
  }
  .backstage__left {
    display: none;
  }
}
@media (max-width: 320px) {
  .backstage__box {
    padding: 80px 0px 120px 0px;
  }
}
/*! Pets*/
.pets {
  background-image: url("../../assets/images/slaider/left.jpg"), url("../../assets/images/slaider/right.jpg");
  background-repeat: no-repeat;
  background-position: -3% bottom, 104% bottom;
  background-size: auto auto, auto auto;
}

.pets__box {
  display: flex;
  flex-direction: column;
  padding: 57px 0px 0px 0px;
}
.pets__box .pets-buttons {
  margin: 76px auto 99px auto;
}

.pets__slider-catrs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.button-left, .button-right {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background-color: #fa8341;
  position: absolute;
  transition: 1s;
}
.button-left:hover, .button-right:hover {
  background-color: #FA6F32;
  transform: scale(1.1);
}
.button-left:active, .button-right:active {
  background-color: #184b14;
  transform: scale(1.1);
}
.button-left {
  left: -81px;
}
.button-right {
  right: -81px;
}
.pets__slider {
  display: grid;
  grid-template-columns: auto auto auto;
  -moz-column-gap: 27px;
       column-gap: 27px;
  row-gap: 16px;
}
.pets__cart {
  border: 2px solid #fa8341;
  border-radius: 5px;
  height: 366px;
  width: 366px;
  transition: 1s;
}
.pets__cart:hover {
  height: 426px;
}
.pets__cart:hover .pet__description {
  transform: scale(1.05);
  opacity: 1;
}

.pets__cart img {
  transition: all 1s;
}

.pets__cart:hover img {
  transform: scale(1.05);
}

.pet__description {
  display: flex;
  justify-content: space-between;
  padding: 7px 12px 0px 14px;
  opacity: 0;
  transition: all 2s ease;
}
.pets__cart h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin: 0px;
}
.pets__cart p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  margin: 0px;
}

@media (max-width: 1000px) {
  .pets {
    background-size: 140px auto, 220px auto;
  }
  .button-left {
    left: 330px;
  }
  .button-right {
    right: 330px;
  }
  .pets__slider {
    row-gap: 100px;
  }
  .pets__cart {
    height: 354px;
    width: 294px;
    transition: none;
  }
  .pets__cart:hover {
    height: 354px;
  }
  .pets__cart:hover .pet__description {
    opacity: 1;
  }
  .pet__img > img {
    height: 294px;
    width: 294px;
  }
  .pet__description {
    opacity: 1;
    transition: none;
  }
}
@media (max-width: 640px) {
  .pets {
    background-size: 125px auto, 190px auto;
  }
  .button-left {
    left: 210px;
  }
  .button-right {
    right: 210px;
  }
  .pets__slider {
    grid-template-columns: auto auto;
  }
  .pets__cart {
    height: 332px;
    width: 285px;
    transition: none;
  }
  .pets__cart:hover {
    height: 354px;
  }
  .pets__cart:hover .pet__description {
    opacity: 1;
  }
  .pet__img > img {
    height: 285px;
    width: 285px;
  }
  .pet__description {
    opacity: 1;
    transition: none;
  }
  .pets__cart:nth-last-child(-n+2) {
    display: none;
  }
}
@media (max-width: 320px) {
  .pets {
    background-size: 72px auto, 120px auto;
  }
  .button-left {
    display: none;
  }
  .pets__slider-catrs .button-right {
    display: none;
  }
  .pets__slider-catrs .pets__slider {
    grid-template-columns: auto;
  }
}
/*! Pick and feed a friend*/
.pick-and-feed {
  background-color: #fdcfab;
  padding-top: 70px;
  padding-bottom: 100px;
}

.pick-and-feed__box {
  background-color: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  margin: 0px 0px 0px 0px;
  padding-bottom: 59px;
}
.pick-and-feed__text-container {
  margin: 0px 96px 0px 97px;
}
.pick-and-feed__title {
  color: #fa8341;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  padding: 40px 0px 0px 0px;
}
.pick-and-feed__big-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 31px 0px 0px 0px;
}
.pick-and-feed__bolt-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 39px 0px 0px 0px;
}
.pick-and-feed__little-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 0px 0px 0px;
}

.pick-and-feed__link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-decoration: underline solid #fa8341;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  transition: all 0.5s;
}

.pick-and-feed__link:hover {
  color: #fa8341;
  text-decoration: underline solid #000;
}

.pick-and-feed__little-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  padding: 40px 0px 0px 0px;
}
.pick-and-feed__turn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 38px 0px 0px 0px;
}
.turn-arrow {
  width: 71px;
  height: 37px;
  margin: 62px 29px 0px 30px;
  padding: 0px 0px 0px 0px;
  background-image: url("../../assets/images/pay/icons/Vector.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 69px 35px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border: 1px solid #fa8341;
  border-radius: 5px;
}
.pay {
  background-image: url("../../assets/images/pay/icons/pay.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.monkey {
  background-image: url("../../assets/images/pay/icons/monkey.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.zoo {
  background-image: url("../../assets/images/pay/icons/zoo.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.pick-and-feed__turn p {
  width: 168px;
  margin: 30px 0px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.pick-and-feed__buttons {
  margin: 61px auto 0px auto;
}

.testimonials__buttons {
  margin: 61px auto 0px auto;
}

@media (max-width: 640px) {
  .pick-and-feed {
    background-color: #fdcfab;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .pick-and-feed__box {
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 59px;
  }
  .pick-and-feed__text-container {
    margin: 0px 18px 0px 18px;
  }
  .pick-and-feed__title {
    font-size: 42px;
    line-height: 50px;
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed__big-text {
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    padding: 31px 0px 0px 0px;
  }
  .pick-and-feed__bolt-text {
    padding: 39px 0px 0px 0px;
  }
  .pick-and-feed__little-text {
    padding: 10px 0px 0px 0px;
  }
  .pick-and-feed__little-title {
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed__turn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 44px;
         column-gap: 44px;
    margin: 37px 0px 0px 0px;
    position: relative;
  }
  .turn-arrow {
    width: 89px;
    height: 29px;
    background-image: url("../../assets/images/pay/icons/arrow.svg");
    background-size: 89px 29px;
    position: absolute;
  }
  .arrow-left {
    margin: -16px 0px 0px -225px;
  }
  .arrow-right {
    margin: -15px -167px 0px 38px;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background-color: #ffffff;
    border: 1px solid #fa8341;
    border-radius: 5px;
  }
  .pay {
    background-image: url("../../assets/images/pay/icons/pay.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .monkey {
    background-image: url("../../assets/images/pay/icons/monkey.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .zoo {
    background-image: url("../../assets/images/pay/icons/zoo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 0px;
  }
  .pick-and-feed__turn p {
    width: 168px;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .pick-and-feed__buttons {
    margin: 61px auto 0px auto;
  }
  .testimonials__buttons {
    margin: 61px auto 0px auto;
  }
}
@media (max-width: 320px) {
  .pick-and-feed {
    background-color: #fdcfab;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .pick-and-feed__box {
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
    margin: 0px 0px 0px 0px;
    padding-bottom: 59px;
  }
  .pick-and-feed__text-container {
    margin: 0px 18px 0px 18px;
  }
  .pick-and-feed__title {
    font-size: 42px;
    line-height: 50px;
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed__big-text {
    font-family: Roboto;
    font-size: 22px;
    line-height: 26px;
    padding: 31px 0px 0px 0px;
  }
  .pick-and-feed__bolt-text {
    padding: 39px 0px 0px 0px;
  }
  .pick-and-feed__little-text {
    padding: 10px 0px 0px 0px;
  }
  .pick-and-feed__little-title {
    padding: 40px 0px 0px 0px;
  }
  .pick-and-feed__turn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    -moz-column-gap: 44px;
         column-gap: 44px;
    margin: 38px 0px 0px 0px;
    position: relative;
  }
  .turn {
    align-self: center;
  }
  .turn-arrow {
    width: 89px;
    height: 29px;
    background-image: url("../../assets/images/pay/icons/arrow.svg");
    background-size: 89px 29px;
    position: absolute;
    transform: rotate(90deg);
    align-self: flex-end;
  }
  .arrow-left {
    margin: -311px 17px 0px 0px;
  }
  .arrow-right {
    margin: 0px 16px 0px 0px;
    top: 414px;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background-color: #ffffff;
    border: 1px solid #fa8341;
    border-radius: 5px;
  }
  .pay {
    background-image: url("../../assets/images/pay/icons/pay.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .monkey {
    background-image: url("../../assets/images/pay/icons/monkey.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .zoo {
    background-image: url("../../assets/images/pay/icons/zoo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 0px;
  }
  .pick-and-feed__turn p {
    width: 168px;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
  }
  .pick-and-feed__buttons {
    margin: 61px auto 0px auto;
  }
  .testimonials__buttons {
    margin: 61px auto 0px auto;
  }
}
/*! Testimonials*/
.testimonials {
  background-color: #ffffff;
  background-image: url("../../assets/images/leav_foto.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto auto;
  padding: 140px 0px 180px 0px;
}

.testimonials__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.testimonials__reviews {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin: 47px 0px 0px 0px;
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 388px;
  width: 267px;
  border: 2px solid #fa8341;
  border-radius: 20px;
}
.review__box {
  width: 234px;
  height: 359px;
}
.review__header {
  display: flex;
  margin: 0px 0px 0px 0px;
}
.avatar {
  margin: 0px 9px 9px 2px;
}

.review-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #767474;
}
.testimonials__line-scrol {
  display: flex;
  width: 600px;
  margin: 0 auto;
}
.testimonials__line-scrol input[type=range] {
  height: 12px;
  -webkit-appearance: none;
  margin: 16px 0px 30px 0px;
  width: 100%;
}
.testimonials__line-scrol input[type=range]:focus {
  outline: none;
}
.testimonials__line-scrol input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F5F7F6;
  border-radius: 25px;
  border: 1px solid #FE9013;
}
.testimonials__line-scrol input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 100px;
  border-radius: 5px;
  background: #F73325;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.5px;
}
.testimonials__line-scrol input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F5F7F6;
}
.testimonials__line-scrol input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F5F7F6;
  border-radius: 25px;
  border: 1px solid #FE9013;
}
.testimonials__line-scrol input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #F73325;
  cursor: pointer;
}
.testimonials__line-scrol input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.testimonials__line-scrol input[type=range]::-ms-fill-lower {
  background: #F5F7F6;
  border: 1px solid #FE9013;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
.testimonials__line-scrol input[type=range]::-ms-fill-upper {
  background: #F5F7F6;
  border: 1px solid #FE9013;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
.testimonials__line-scrol input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #F73325;
  cursor: pointer;
}
.testimonials__line-scrol input[type=range]:focus::-ms-fill-lower {
  background: #F5F7F6;
}
.testimonials__line-scrol input[type=range]:focus::-ms-fill-upper {
  background: #F5F7F6;
}
/* .pick-and-feed__buttons {
  margin: 0px 0px 180px 0px;
} */
/* .testimonials__buttons {
  margin: 0px 0px 180px 0px;
} */

@media (max-width: 1000px) {
  .review:nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 640px) {
  .testimonials__reviews {
    display: flex;
    flex-direction: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
    margin: 0px 0px 0px 0px;
  }
  .review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 109px;
    width: 100%;
    border: 2px solid #fa8341;
    border-radius: 20px;
  }
  .review__box {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }
  .review__header {
    display: flex;
    margin: 0px 0px 0px 0px;
  }
  .avatar {
    margin: 0px 9px 9px 2px;
  }
}
/*! Footer*/
.footer {
  background-color: #000000;
  color: #ffffff;
}
.footer__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 39px 0px 0px 0px;
}
.footer__left-box, .footer__right-box {
  display: flex;
  flex-direction: column;
}
.right-bottom-box {
  display: flex;
  justify-content: space-between;
}

.footer__left-box {
  width: 25%;
}
.footer__button {
  margin: 70px 0px 43px 0px;
}

.footer__social-list {
  list-style: none;
  padding-left: 0px;
}

.footer__social-list .footer-soc {
  margin-bottom: 11px;
}
.footer__social-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
.footer__social-list a:hover {
  color: #FA6F32;
}
.footer__social-list a::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background-color: #C4C4C4;
  border-radius: 50%;
  margin-right: 10px;
}
.footer__social-list .footer-facebook-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/fb.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__social-list .footer-twitter-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/twitter.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__social-list .footer-instagram-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/instagram.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.footer__social-list .footer-youtube-link::before {
  content: "";
  background-image: url(../../assets/images/footer/icons_soc/youTube.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__right-box {
  width: 75%;
  height: 100%;
}
.right-top-box {
  width: 370px;
  align-self: flex-end;
}
.right-top-box > h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 13px;
}
.right-top-box > .email {
  border: 1px solid #fa8341;
  border-radius: 2px;
  background-color: #000000;
  color: #BDBDBD;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 208px;
  height: 42px;
  padding: 0px 10px;
  margin-right: 6px;
}
.right-top-box > .submit {
  border: 2px solid green;
  border-radius: 5px;
  background-color: #f1f3f2;
  color: green;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 129px;
  height: 42px;
}
.footer-author {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  letter-spacing: 0em;
}
.right-bottom-box {
  margin: 244px 0px 0px 0px;
}

/*! Panda*/
.section__panda {
  height: 386px;
  background-color: #283035;
  background-image: url("../../assets/images/backstage/Giant_Panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

/*! section__feed-a-friend*/
.section__feed-a-friend {
  background-color: #fcc8a9;
}
.section__feed-a-friend .feed-a-friend-donaton-box {
  background-color: #fee4d6;
}

.feed-a-friend-container {
  background-color: #fee4d6;
  border-radius: 20px;
}

.feed-a-friend-box {
  padding-bottom: 180px;
}
.feed-a-friend-box .feed-a-friend-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #ffffff;
  padding-top: 40px;
}
.feed-a-friend-box .feed-a-friend-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  padding-top: 10px;
}
.feed-a-friend-box .feed-a-friend-little-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #fa8341;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 59px;
}

.feed-a-friend-donaton-box {
  color: #000;
  width: 976px;
  margin: 0 auto;
}
.feed-a-friend-donaton-box .feed-a-friend-donaton-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: #fa8341;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 19px;
}
.feed-a-friend-donaton-box .feed-a-friend-donaton-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  padding-bottom: 79px;
}
.feed-a-friend-donaton-box .diet-for-day {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-bottom: 40px;
}
.feed-a-friend-donaton-box .diet-days-number {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
}
.feed-a-friend-donaton-box .diet-days-text {
  font-size: 16px;
  font-weight: 400;
}
.feed-a-friend-donaton-box .diet-multiplication {
  font-size: 30px;
}
.feed-a-friend-donaton-box .diet-animal {
  height: 246px;
  width: 284px;
  background-image: url(../../assets/images/panda/panda_widget1.svg);
  background-repeat: no-repeat;
}

.progres-bar__donate {
  background-image: url("../../assets/images/panda/line_bg_grey.svg");
  background-repeat: no-repeat;
  background-position: 65% 20%;
  background-size: 912px 27px;
}
.progres-bar__donate .donate__line {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-image: url("../../assets/images/panda/line_grey.svg");
  background-repeat: no-repeat;
  background-position: 49% 35%;
  background-size: 831px 2px;
}

.radio-price {
  display: flex;
  /* для элемента input c type="radio" */
  /* для элемента label связанного с .custom-radio */
  /* создание в label псевдоэлемента  before со следующими стилями */
  /* стили для радиокнопки, находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в фокусе */
}
.radio-price .progres-bar__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-price .progres-bar__input + label {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 80px;
}
.radio-price .progres-bar__input + label::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #FFEE2E;
  background: url("../../assets/images/panda/circle.svg") no-repeat center;
}
.radio-price .progres-bar__input:checked + label::before {
  width: 40px;
  height: 40px;
  background: url("../../assets/images/panda/circle.svg") no-repeat center, url("../../assets/images/panda/roller_icon.svg") no-repeat center;
  color: #fa8341;
}
.radio-price .progres-bar__input:checked + label {
  color: #fa8341;
}
.radio-price .progres-bar__input:focus + label::before {
  color: #fa8341;
}
.radio-price .input-number {
  font-size: 26px;
  font-weight: 500;
  margin-top: 11px;
}

.donate-number-box {
  display: flex;
  justify-content: center;
}
.donate-number-box .donate-number {
  height: 54px;
  width: 258px;
  border: 1px solid #FFEE2E;
  border-radius: 2px;
  padding-left: 10px;
  background-color: #333b41;
  color: #ffffff;
  background-image: url("../../assets/images/panda/dolor.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  margin-top: 60px;
  margin-bottom: 26px;
}
.donate-number-box .donate-number:focus {
  border: 1px solid green;
  background-color: #fff;
  background-image: url("../../assets/images/panda/dolor-active.svg");
  color: green;
}
.donate-number-box .donate-number:invalid {
  border: 1px solid red;
  background-image: url("../../assets/images/panda/dolor-invalid.svg");
  color: red;
}

.monthly-once {
  display: flex;
  justify-content: center;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
.monthly-once .radio-box .radio-bottom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.monthly-once .radio-box .radio-bottom + label {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.monthly-once .radio-box .radio-bottom + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #fa8341;
  border-radius: 50%;
}
.monthly-once .radio-box .radio-bottom:checked + label::before {
  width: 16px;
  height: 16px;
  background-color: green;
  border: 0px solid #fa8341;
}
.monthly-once .radio-box .radio-bottom + label {
  color: #ffffff;
}
.monthly-once .radio-box .radio-bottom:checked + label {
  color: #333B41;
}

.panda-buttons {
  margin: 31px auto 33px auto;
}

.panda-text-bottom {
  margin: 0px auto 0px auto;
  text-align: center;
  padding-bottom: 66px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}/*# sourceMappingURL=style.css.map */