/*! Panda*/
.section__panda {
    height: 386px;
    background-color: #283035;
    background-image: url('../../assets/images/backstage/Giant_Panda.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}